.theme-login{
    background:linear-gradient( to top, #eee 60%,rgb(233, 153, 55) 40% );
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    /* EBA551 */
    /* 3483fa */
}

.logo-login{
    display:flex;
    align-items:center;
    justify-content:center;
    transform:translate(45%,-20%);
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto;
    height:auto;
    width:150px;

}

.box{
    box-shadow:1px 1px 12px rgba(0,0,0,.2);
    width:360px;
    background:#fff;
    /* background:#333; */
    height:470px;
    padding:80px 40px;
    box-sizing: border-box;
    border-radius:10px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.box .b__title{
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.box .txtb{
    border-bottom:2px solid #adadad;
    position: relative;
    margin:30px 0;
}

.txtb input{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1rem;
    border:none;
    width:100%;
    outline:none;
    letter-spacing:.5px;
    background:none;
    padding:0 5px;
    height: 40px;
}

.txtb span::after{
    content:'';
    position: absolute;
    display: block;
    width:0%;   
    height: 2px;
    background:#EBA551;
    transition: .5s;
}

.txtb span::before{
    content:attr(data-placeholder);
    position: absolute;
    top:50%;
    left:5px;
    color:#aaa;
    font-family: 'Roboto Condensed', sans-serif;
    transform:translateY(-50%);
    z-index: -1;
    transition:.5s;
}


.focus + span::before{
    top:-5px;
}

.focus + span::after{
    width:100%;
}

.box .btn__customized:hover{
    background-position:right;
}
.box .btn__customized{
    transition: .5s;
    width:100%;
    font-size:.88rem;
    font-family:'Roboto Condensed', sans-serif;
    color:#eee;
    font-weight: 500;
    text-transform: uppercase;
    padding:12px 8px;
    border:none;
    outline:none;
    cursor:pointer;
    background:linear-gradient(120deg, #D2691E,#EBA551,#D2691E);
    background-size:200%;
    /* background:#3483fa; */
}

.box .b-text{
    text-align: justify;
    margin-top:40px;
}

.box  p{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: bold;;
    font-size:13px;
}

.box .text__link{
    font-size:12px;
    color:#fff;
    transition: .3s;
}

.box .text__link:hover{
    color:rgb(0, 153, 255);
}

.box .text-notification{
    color:#eee;
    letter-spacing:1.4px;
    text-align: center;
    transition: .5s;
}

.avatar{
    padding:.5rem 1.2rem;
    box-sizing:border-box;
    width:12rem;
    display:flex;
    position:relative;
    margin:0 auto;
    transform:translateY(-20%);
}