#materiais{
    position:relative;
    width:100%;
    padding:3rem;
}

.title__article{
    font-size:2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Lato',sans-serif;
    font-weight:bold;
    letter-spacing: 1px;
    text-align: justify;
    box-sizing: border-box;   
    transition: .2s;
}

#wrapper a.title__article:hover{
    text-decoration: none;
    color:rgb(17, 155, 17);
}