#form-register{
    position:relative;
    padding:1rem 2rem;
    border-radius:10px;
    width:100%;
    height: auto;
}

#wrapper #form-register .t-head{
    font-size:1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 600;
}

.t-cel, .form-control::placeholder,.form-control{
    font-size:1rem;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    /* line-height: 20px; */
    text-align: justify;
}

.text-title{
    font-size:2.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:600;
    letter-spacing: 1px;
    text-align: justify;
}

.fa-pencil-alt, .fa-trash{
    font-size:1.5rem;
    color:#ff8055;
    padding:0 .5rem;
}

.fa-trash{
    font-size:1.5rem;
    color:rgb(224, 81, 65);
    padding:0 .5rem;
}

#file__img {
    display: none;
    opacity: .25s;
}
#wrapper .fa-download:hover{
    transform:rotateX(360deg);
    color:#333;
}
#wrapper .fa-download{
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: absolute;
    top:50%;
    left:25%;
    cursor:pointer;
    font-size:3rem;
}
#wrapper .file:hover{
    transform:rotateY(0);
}
#wrapper .file{
    position: absolute;
    top:60%;
    left:7.5%;
    transform:translateY(50%);
}