#form-register-insumo{
    position:relative;
    position:relative;
    padding:3rem;
}

#form-register-insumo .title__insumo{
    font-size:2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:bold;
    color:#fff;
    letter-spacing: 1px;
}

.block-insumos{
    background:#ff8055;
    width:100%;
    display: block;
    height: 2rem;
    display: flex;
    align-items: center;
    padding:1.5rem 1rem;
    margin-bottom:1rem;
}

#form-register-insumo .form-group{
    padding:1rem 0rem;  
}

#form-register-insumo .form-control{
    margin:1rem 0;
}

#wrapper .f-register{
    margin-top:2rem;
    box-shadow:1px 1px 25px rgba(0,0,0,.25);
    border-radius:10px;
    padding:1rem 2rem;
    background:#fff;
}