#footer{
    padding:1rem;
    width:calc(100% - 15rem);
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: flex-end;
    transition:.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background:#eee;
    z-index:1;
}

#wrapper.toggled #footer{
    width:100%;
}

#footer .f__text{
    font-size:.88rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color:#333;
}