#page-content-wrapper .division{
    width: 0;
    position: absolute;
    right: 0;
    transform:translateY(25%);
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
#page-content-wrapper .avatar{
    height: auto;
    width: 2rem;
    border-radius:50%;
}

#wrapper #page-content-wrapper .right{
    position:absolute;
    right:2rem;
}

#wrapper #page-content-wrapper #page-content-wrapper .h__text--admin{
    right:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

#wrapper #page-content-wrapper #page-content-wrapper .navbar{
    width:100%;
}


#wrapper #page-content-wrapper #page-content-wrapper .icon{
    left:9.88rem;
    top:1.215rem;
}

#wrapper #button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor:pointer;
    color:#fff;
    background:#ff8055;
    border-color:#ff8055;
}

#page-content-wrapper #page-content-wrapper .form-control{
    border:none;
    font-family: 'reboto', sans-serif;
    width:17rem;
}

#page-content-wrapper #page-content-wrapper .fa-user-circle{
    font-size:2rem;
    color:#ff8055;
    padding-right:1rem;
}

.h__toggle{
    font-size:1.6rem;
    cursor:pointer;
    color:#aaa;
    transition:.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.h__toggle:active{
    color:#000;
    opacity: .7;
}